*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --var-bg-image: url(./images/greyfon.jpg) no-repeat center fixed;
  --var-bg-button: lightseagreen;
  --var-color-button: snow;
}

body {
  background: var(--var-bg-image);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a{
  text-decoration: none;
}

.width{
  width: 100%;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexDirectionColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: start;
  background: var(--var-bg-button);
  color: var(--var-color-button);
  box-shadow: 0.2rem 0.2rem 0.2rem black;
}